@import url('static/base.css');


#Introduction{
    background-color: #e6f3f1;
}

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem;
  
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.5rem;
}

.intro-content h1 {
    color: #ec2e57;
    font-size: 5rem;
    font-family: "Proxima Nova", sans-serif;
}

.intro-content p {
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
}

.journey-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}


.journey-container h2 {
    color: #ec2e57;
    font-size: 4rem;
    font-family: "Proxima Nova", sans-serif;
    margin-bottom: 1.5rem;
}

.journey-content {
    display: flex;
    justify-content:flex-start;
}

.journey-photos {
    display: flex;
    flex-direction: column;
}

.journey-photos img {
    width: 25rem;
    margin: 0 2rem 2rem 0;
}

.journey-text p {
    color: #2e3755;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    max-width: 45rem;
    font-family: "Proxima Nova", sans-serif;
}

#skills{
    background-color: #e6f3f1;
}

.about-me-container {
    padding: 5rem;
}

.about-me-content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
}

.about-me-skills h2 {
    color: #ec2e57;
    font-size: 4rem;
    font-family: "Proxima Nova", sans-serif;
    margin-bottom: 1.5rem;
    align-items: center;
}

.skills {
    padding: 5rem;
}

.skill-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.skill{
    color:black;
    font-family: "Proxima Nova", sans-serif;
    line-height:2;
}

.education-and-experience {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.education-and-experience h3 {
    color: #2e3755;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
}

.college h4, .college p{
    font-family: "Proxima Nova", sans-serif;
    line-height:1.5;
}
.high-school h4, .high-school p{
    font-family: "Proxima Nova", sans-serif;
    line-height:1.5;
}
.school h4, .school p{
    font-family: "Proxima Nova", sans-serif;
    line-height:1.5;
}

.experience h3{
    font-family: "Proxima Nova", sans-serif;
    line-height:1.5;
}

.job-1 h4, .job-1 p{
    font-family: "Proxima Nova", sans-serif;
    line-height:1.5;
}

.certifications h3 {
    font-family: "Proxima Nova", sans-serif;
    line-height:1.5;
}

.certifications p{
    margin: 1rem 0;
    font-family: "Proxima Nova", sans-serif;
    line-height:1.5;
}

.education {
    padding: 3rem;
}

.education div {
    margin: 1.5rem 0;
}

.experience-and-certifications {
    padding: 3rem;
    border-left: 1px solid #2e3755;
}

.experience-and-certifications div {
    margin: 1.5rem 0;
}

@media (max-width:1000px) {

    .intro-container {
        flex-direction: column;
    }

    .intro-content {
        margin-bottom: 1rem;
    }

    .intro-content h1 {
        text-align: center;
        font-size: 3rem;
    }

    .intro-content p {
        text-align: center;
    }

    .journey-container {
        flex-direction: column;
        padding: 2rem;
    }

    .journey-content {
        flex-direction: column;
        justify-content: center;
    }

    .journey-photos {
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .journey-photos img {
        text-align: center;
    }

    .journey-text p {
        text-align: center;
    }

    .about-me-content {
        display: flex;
        flex-direction: column;
    }

    .education-and-experience {
        flex-direction: column;
        align-items: center;
    }

    .experience-and-certifications{
        border:none;
    }




}