@import url('static/base.css');

body{
    /* background:url('https://images.unsplash.com/photo-1546984575-757f4f7c13cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
    background-color: #e6f3f1;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: left; */
    /* position: absolute;
    width:100vw;
    z-index:-234;
    top:0;
    left:0;
    background-color:#c4c4c2; */
}

.container{
    /* border:1px solid green; */
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    padding:5rem;
}

.mini-container1{
    padding:2rem;
    max-width: 31rem;
}

.mini-container1 h1{
    font-size: 4.0625rem;
    font-weight: 700;
    color: #ec2e57;
    line-height: 1;
    margin:0.7rem 0;
    font-family: "Proxima Nova", sans-serif;
}

.mini-container1 p{
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Proxima Nova", sans-serif;
    margin:1rem 0;
    line-height: 1.5;
}

.mini-container1 p a{
    color:#ec2e57;
    text-decoration:underline;
    font-family: "Proxima Nova", sans-serif;
}





@media (max-width:1000px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: space-evenly;
    }

    .mini-container1{
        padding:3rem;
    }
}