{% extends 'base.html' %}

{% block page_title %}About me{% endblock %}

{% block css_page_link %}

<link rel="stylesheet" href="static/about.css">

{% endblock %}


{% block content %}

<section id="Introduction">
    <div class="intro-container">
        <div class="intro-content">
            <h1>Shivam Shinde</h1>
            <p>I'm aspiring data scientist who loves mathematics and programming.</p>
        </div>
        <img src="static/shivam5.png" alt="img">
    </div>
</section>

<section id="journey">
    <div class="journey-container">
        <h2>About Me</h2>
        <div class="journey-content">
            <div class="journey-photos">
                <img src="static/standing_photo.jpg" alt="img">
                <!-- <img src="static/graduation_photo.jpg" alt="img"> -->
            </div>
            <div class="journey-text">
                <p>
                    Hello there, Thanks for being here. My name is Shivam and I am an aspiring data scientist. During my
                    engineering days, I encountered the huge convas of data science field.Thus following my interest, I
                    started digging deeper and got the taste of machine learning,deep learning and artificial
                    intelligence. I have always loved playing with numbers since my childhood. This helped me improve my
                    data analysis skills as I learned python, data analysis, statistics and many more topics in later
                    days.</p>
                <p>I also stumbled across the field of website development. So out of curiosity, I am learning web
                    development also. You could say I have created this website while learning web development only.</p>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="about-me-container">
        <!-- <h2>About me</h2> -->
        <div class="about-me-content">
            <!-- <div class="about-me-text">
                <h3>Who am I?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt cum rerum deleniti amet, alias
                    enim magnam totam commodi voluptatum impedit autem nostrum sequi aut minus nisi reiciendis natus
                    itaque!
                    Aliquam, commodi. Laudantium, minima dicta repudiandae autem officia sunt eos fuga ipsam expedita
                    architecto, aspernatur ullam delectus nam voluptates eligendi!</p>
            </div> -->
            <div class="about-me-skills">
                <h2>Skills & Expertise</h2>
                <div class="skills">
                    <ul class="skill-list">
                        <li class="skill">SQL</li>
                        <li class="skill">Python programming language</li>
                        <li class="skill">web scrapping</li>
                        <li class="skill">Data analysis using python NumPy and pandas</li>
                        <li class="skill">Data Visualization using matplotlib and seaborn</li>
                        <li class="skill">Flask python web development framework</li>
                        <li class="skill">Git</li>
                        <li class="skill">Data version control using DVC</li>
                        <li class="skill">Tableau</li>
                        <li class="skill">HTML</li>
                        <li class="skill">CSS</li>
                        <li class="skill">JavaScript programming language</li>
                        <li class="skill">Machine Learning</li>
                        <li class="skill">Time series analysis</li>
                        <li class="skill">Bootstrap</li>
                        <li class="skill">Statistics</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="education-and-experience">
    <div class="education">
        <h3>Education</h3>
        <div class="college">
            <h4>Mechanical Engineering</h4>
            <p>Sardar Patel College of Engineering, Mumbai / 2017-2021</p>
        </div>
        <div class="high-school">
            <h4>Science Stream</h4>
            <p>Dayanand Science College, Latur / 2015-2017</p>
        </div>
        <div class="school">
            <h4>School</h4>
            <p>Keshavraj School, Latur / 2005-2015</p>
        </div>
    </div>
    <div class="experience-and-certifications">
        <div class="experience">
            <h3>Experience</h3>
            <div class="job-1">
                <h4>Infosys Ltd.</h4>
                <p>System Engineer / 2021 - present</p>
            </div>
        </div>
        <div class="certifications">
            <h3>Certifications</h3>
            <p>Microsoft Certified: Azure Fundamentals</p>
            <p>Python programming language - udemy</p>
            <p>Python flask framework - udemy</p>
            <p>PostgreSQL - udemy </p>
            <p>Tableau - iNeuron</p>
            <p>Microsoft Excel - udemy</p>
        </div>
    </div>
</section>


{% endblock %}