{% extends 'base.html' %}


{% block page_title %}Blogs{% endblock %}


{% block css_page_link %}

<link rel="stylesheet" href="static/blogs.css">

{% endblock %}


{% block content %}
<div class="blogs-container">
    <h2>My Blogs</h2>
    <div class="cards">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1642781661148-86a5aca7f9b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                alt="img">
            <div class="card-content">
                <h3>Deep Dive into Gated Recurrent Units (GRU): Understanding the Math behind RNNs</h3>
                <div class="para-content">
                    <p>This article explains the working of gated recurrent units aka GRUs. GRUs are the simplified version of long short-term memory (LSTMs).</p>
                    <p>Article also explains how GRUs are different from LSTMs.</p>
                </div>
                <button><a href="https://medium.com/@shivamshinde92722/deep-dive-into-gated-recurrent-units-gru-understanding-the-math-behind-rnns-f2a03f877bc9" target="_blank">Read More</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1655721530791-59f5bbd64a48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                alt="img">
            <div class="card-content">
                <h3>From Vanilla RNNs to LSTMs: A Practical Guide to Long Short-Term Memory</h3>
                <div class="para-content">
                    <p>Long short-term memory (LSTM) networks have become a go-to tool for tasks like machine translation, language modeling, and speech recognition.</p>
                    <p>But what exactly are LSTMs, and how do they work? In this post, we’ll provide a high-level overview of LSTM’s working.</p>
                </div>
                <button><a href="https://medium.com/@shivamshinde92722/from-vanilla-rnns-to-lstms-a-practical-guide-to-long-short-term-memory-67471f75a95" target="_blank">Read More</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1545548171-37a54e5c1ea6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
                alt="img">
            <div class="card-content">
                <h3>A Simple Approach to Creating Custom Transformers Using Scikit-Learn Classes</h3>
                <div class="para-content">
                    <p>This article explains practically the way to create custom transformers using machine learning library named Scikit-Learn.</p>
                    <p>Custom transformer creation is explained using the example of log-transformation and the outlier removal from the data.</p>
                </div>
                <button><a href="https://medium.com/@shivamshinde92722/a-simple-approach-to-creating-custom-transformers-using-scikit-learn-classes-675c3d3fbd36" target="_blank">Read More</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1543674892-7d64d45df18b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1030&q=80"
                alt="img">
            <div class="card-content">
                <h3>Using Scikit-Learn Pipelines to Automate the Machine Learning Model Training and Predictions</h3>
                <div class="para-content">
                    <p>This article explains the steps to create a Scikit-Learn pipelines.</p>
                    <p>The article also demonstrates the advantages of using pipelines when used with cross validation and hyper-parameter tuning steps.</p>
                </div>
                <button><a href="https://medium.com/@shivamshinde92722/using-scikit-learn-pipelines-to-automate-the-machine-learning-model-training-and-predictions-3ed5e263c356" target="_blank">Read More</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img">
            <div class="card-content">
                <h3>A Practical Guide to Exploratory Data Analysis (EDA) Using Python</h3>
                <div class="para-content">
                    <p>This article shows the basic steps involved in the exploratory data analysis of the data.</p>
                    <p>Article also contains the code along with each step for better understanding.</p>
                </div>
                <button><a href="https://medium.com/@shivamshinde92722/a-practical-guide-to-exploratory-data-analysis-eda-using-python-a9c33ec0d34c" target="_blank">Read More</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1508188317434-1fd219bb636f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1520&q=80"
                alt="img">
            <div class="card-content">
                <h3>Explore R2 and Adjusted-R2 metrics intuitively</h3>
                <div class="para-content">
                    <p>This blog explains one of the most popular metric for the regression task.</p>
                    <p>Article also tells the cons of the R2 and pros of using R2-adjusted over R2 in intuitive way.</p>
                </div>
                <button><a href="https://medium.com/@shivamshinde92722/explore-r2-and-adjusted-r2-metrics-intuitively-fb868666d0d8" target="_blank">Read More</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1543617080-0db79d35e926?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80"
                alt="img">
            <div class="card-content">
                <h3>Know different performance measures for machine learning classification problem</h3>
                <div class="para-content">
                    <p>This article explains different machine learning classification metrics.</p>
                    <p>Article explains the concept of confusion matrix using two real life scenatios.</p>
                </div>
                <button><a href="https://medium.com/@shivamshinde92722/know-different-performance-measures-for-machine-learning-classification-problem-96a8952b3bac" target="_blank">Read More</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1565095747113-c462f5fbf6d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=955&q=80"
                alt="img">
            <div class="card-content">
                <h3>Difference between scikit-learn fit, transform, fit_transform, and predict methods and when to use them.</h3>
                <div class="para-content">
                    <p>The usage of scikit-learn fit, transform, fit_transform and predict methods confuses every begineer of data science.</p>
                    <p>This article explains their usage in clear and very intuitive way.</p>
                </div>
                <button><a href="https://medium.com/@shivamshinde92722/know-different-performance-measures-for-machine-learning-classification-problem-96a8952b3bac" target="_blank">Read More</a></button>
            </div>
        </div>
</div>



{% endblock %}
