{% extends 'base.html' %}


{% block page_title %}Projects{% endblock %}


{% block css_page_link %}

<link rel="stylesheet" href="static/projects.css">

{% endblock %}


{% block content %}

<div class="ML-container">
    <h2>Machine Learning Projects</h2>
    <div class="cards">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                alt="img">
            <div class="card-content">
                <h3>Credit Card Fraud Detection</h3>
                <div class="para-content">
                    <p>The aim of the project is to predict whether the performed transaction is fraud or not.</p>
                    <p>This is achieved by feeding the information about the transaction to the machine learning
                        algorithm.
                    </p>
                </div>
                <button><a href="https://github.com/shivamshinde123/credit-card-fraud-detection2" target="_blank">Source
                        Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1516101922849-2bf0be616449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80"
                alt="img">
            <div class="card-content">
                <h3>Thyroid Disease Detection</h3>
                <div class="para-content">
                    <p>The aim of the project is to predict whether the patient is having thyroid or not.</p>
                    <p>This is achieved by feeding the information about the patient's tests to the machine learning
                        algorithm.</p>
                </div>
                <button><a href="https://github.com/shivamshinde123/Thyroid_disease_detection" target="_blank">Source
                        Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1537884944318-390069bb8665?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img">
            <div class="card-content">
                <h3>Wine Quality Prediction</h3>
                <div class="para-content">
                    <p>The aim of the project is to predict the quality of the wine using its inherent properties.</p>
                    <p>This is achieved by feeding the wine properties such as pH level to the machine learning
                        algorithm.
                    </p>
                </div>
                <button><a href="https://github.com/shivamshinde123/wine_quality_prediction" target="_blank">Source
                        Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1120&q=80"
                alt="img">
            <div class="card-content">
                <h3>Mushroom Category Prediction</h3>
                <div class="para-content">
                    <p>The aim of the project is to predict the category to which the mushroom belong to.</p>
                    <p>This is achieved by feeding the natural properties of the mushroom to the machine learning
                        algorithm.
                    </p>
                </div>
                <button><a href="https://github.com/shivamshinde123/mushroom_classification" target="_blank">Source
                        Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1484665739383-a1069a82d4be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img">
            <div class="card-content">
                <h3>Flight Fare Prediction</h3>
                <div class="para-content">
                    <p>The aim of the project is to predict the price of the particular flight given the accomodation
                        choices of the person.</p>
                    <p>This is achieved by feeding the data related to the choices of services opted by the person while
                        booking the flight.</p>
                </div>
                <button><a href="https://github.com/shivamshinde123/flight-fare-prediction" target="_blank">Source
                        Code</a></button>
            </div>
        </div>
    </div>
</div>
<div class="Tableau-container">
    <h2>Tableau Projects</h2>
    <div class="cards">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img">
            <div class="card-content">
                <h3>Insurance Data Visualization</h3>
                <div class="para-content">
                    <p>This dataset provides the premium for the insurance based on the different factors such as sex,
                        age, region, smoking status, bmi and number of children.</p>
                    <p>The visualization contains the graphs as well as some explaination with it.</p>
                </div>
                <button><a href="https://public.tableau.com/app/profile/shivam.shinde/viz/Insurancedatasetviz/Final"
                        target="_blank">Source Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1106&q=80"
                alt="img">
            <div class="card-content">
                <h3>Video Game Story</h3>
                <div class="para-content">
                    <p>This dataset visualization provides the insights such as average gloal sales, no. of games
                        created, publisher related stats, developer related stats, etc.</p>
                    <p>The visualization contains the graphs as well as some tools to alter the graphs.</p>
                </div>
                <button><a href="https://public.tableau.com/app/profile/shivam.shinde/viz/VideoGamesAnalytics/Story1"
                        target="_blank">See Viz</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
                alt="img">
            <div class="card-content">
                <h3>Citi Bike Analytics</h3>
                <div class="para-content">
                    <p>The visualization for this data provides the insights such as trip duration by age, age
                        distribution for people renting the bike, peak hours, most and least visited place, etc.</p>
                    <p>The visualization contains the area plot which shows nicely the trafic from every place.</p>
                </div>
                <button><a
                        href="https://public.tableau.com/app/profile/shivam.shinde/viz/CitiBikeAnalytics_16435254845460/Citibikedatastory"
                        target="_blank">See Viz</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1584291527935-456e8e2dd734?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80"
                alt="img">
            <div class="card-content">
                <h3>Indian Crop Production Analysis</h3>
                <div class="para-content">
                    <p>The visualization shows the crop production according to the year, season, state of country as
                        well as the highest and lowest crop production states.</p>
                    <p>The visualization not only contains the graphs but also insights and tools to alter the
                        graphs.
                    </p>
                </div>
                <button><a
                        href="https://public.tableau.com/app/profile/shivam.shinde/viz/CropproductioninIndiaanalysis/Story1"
                        target="_blank">See Viz</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1542744173-05336fcc7ad4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1102&q=80"
                alt="img">
            <div class="card-content">
                <h3>Japnese Anime Visualization</h3>
                <div class="para-content">
                    <p>The data visualization provides the insights on the topics such as rating by studio, number of
                        episodes, number of anime released based on the year and season, anime categorized by type, etc.
                    </p>
                    <p>The visualization is also equipped with the tools to alter the graphs if needed.</p>
                </div>
                <button><a
                        href="https://public.tableau.com/app/profile/shivam.shinde/viz/AnimeViz_16429456982940/AnimeViz"
                        target="_blank">See Viz</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1591696205602-2f950c417cb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img">
            <div class="card-content">
                <h3>Automobile Data Analytics</h3>
                <div class="para-content">
                    <p>The visualization shows the effects of numerical features such horsepower, automobile mpg,
                        curb-weight and categorical features such as fuel type, body style, drive wheel, etc. on the
                        price of the automobile.</p>
                    <p>The visualization also shows the trends of price and automobile mpg.</p>
                </div>
                <button><a
                        href="https://public.tableau.com/app/profile/shivam.shinde/viz/Automobiledatasetviz/Factorsaffectingthepriceofautomobile"
                        target="_blank">See Viz</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1614028674026-a65e31bfd27c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="img">
            <div class="card-content">
                <h3>Australia Rain Analytics</h3>
                <div class="para-content">
                    <p>The data visualization provides the insights on topics such as sunshine, rainfall statistics,
                        temperature and windspeeds, humidity and evaporation statistics, portion of sky covered by
                        clouds over the year,etc. </p>
                    <p>The visualization contains the tools to alter the graphs if needed.</p>
                </div>
                <button><a href="https://public.tableau.com/app/profile/shivam.shinde/viz/RaininAustraliaviz/Story1"
                        target="_blank">See Viz</a></button>
            </div>
        </div>
    </div>
</div>
<div class="web-dev-container">
    <h2>Web Development Projects</h2>
    <div class="cards">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
                alt="img">
            <div class="card-content">
                <h3>Portfolio Website</h3>
                <p>This website is created as my portfolio.</p>
                <p>Website contains four tabs namely home, about, projects and sayhi.</p>
                <button><a href="https://github.com/shivamshinde123/my-website-version-1" target="_blank">Source Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1522542550221-31fd19575a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img">
            <div class="card-content">
                <h3>Gym Website</h3>
                <p>This website is created for a gym.</p>
                <p>This is front end of the gym website. The backend is not implemented.</p>
                <button><a href="https://github.com/shivamshinde123/gym-website-front-end.git" target="_blank">Source
                        Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="img">
            <div class="card-content">
                <h3>Portfolio Website-2</h3>
                <p>This website is created as my portfolio.</p>
                <p>Website contains four tabs namely home, projects, about and say hi.</p>
                <button><a href="https://github.com/shivamshinde123/Portfolio-website-2" target="_blank">Source Code</a></button>
            </div>
        </div>
    </div>
</div>
<div class="python-container">
    <h2>Python Projects</h2>
    <div class="cards">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
                alt="img">
            <div class="card-content">
                <h3>Puppy Adoption Website using Python Flask</h3>
                <div class="para-content">
                    <p>This website contains basic functionalites such as adding a new puppy, alloting the owner to the
                        pupy,deleting puppy and owner records after adoption.</p>
                    <p>This is achieved by using flask_wtf, wrforms, flask_sqlalchemy and flask_migrate.</p>
                </div>
                <button><a
                        href="https://github.com/shivamshinde123/restructuring-the-puppy-adoption-website-using-flask-blueprints"
                        target="_blank">Source Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1516101922849-2bf0be616449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80"
                alt="img">
            <div class="card-content">
                <h3>Blog Post Website using Python Flask</h3>
                <div class="para-content">
                    <p>The website contains very basic functionalites such as adding a blog, deleting blogs, etc. Flask
                        blueprints is used to structure the project.</p>
                    <p>This is achieved by using flask_wtf, wrforms, flask_sqlalchemy and flask_migrate.</p>
                </div>
                <button><a href="https://github.com/shivamshinde123/basic_blog_site_using_flask" target="_blank">Source
                        Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1607705703571-c5a8695f18f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt="img">
            <div class="card-content">
                <h3>Automating Exploratory Data Analysis using Sweetviz and Python Flask</h3>
                <div class="para-content">
                    <p>This project makes use of python Sweetviz library to get the data analysis.</p>
                    <p>The job of showing the obtained results is performed by python flask.</p>
                </div>
                <button><a href="https://github.com/shivamshinde123/AutomatingEDA" target="_blank">Source
                        Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80"
                alt="img">
            <div class="card-content">
                <h3>Book Store Website Scrapper using selenium and beautiful-soup</h3>
                <div class="para-content">
                    <p>This project aims to scrap the list of books and their prices provided the genre by the user.</p>
                    <p>The scrapper makes use of libraries such as selenium, beautiful-soup to perform the task.</p>
                </div>
                <button><a href="https://github.com/shivamshinde123/Book-scrapper" target="_blank">Source
                        Code</a></button>
            </div>
        </div>
    </div>
</div>
<div class="jupyter-snippets-container">
    <h2>Miscellaneous jupyter notebook code snippet</h2>
    <div class="cards">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1621361365424-06f0e1eb5c49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
                alt="img">
            <div class="card-content">
                <h3>ML Classification metrics and graphs</h3>
                <p>This jupyter notebook contains different types of Classification metrics as well as related graphs such as precision vs recall curve, etc.</p>
                <button><a href="https://github.com/shivamshinde123/classification-metrices-and-graphs" target="_blank">Source Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src=https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1926&q=80"
                alt="img">
            <div class="card-content">
                <h3>Optimal Number of Clusters for the data</h3>
                <p>This jupyter notebook shows the different ways to get the idea about the optimal number of clusters for the clustering algorithm.</p>
                <button><a href="https://github.com/shivamshinde123/Finding-the-optimal-number-of-clusters" target="_blank">Source Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1537884944318-390069bb8665?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" 
                alt="img">
            <div class="card-content">
                <h3>Using Clustering as a Dimentionality Reduction Method</h3>
                <p>This jupyter notebook demonstrates how one can make use of clustering algorithms to reduce the dimenionality of the data.</p>
                <button><a href="https://github.com/shivamshinde123/Using-clustering-as-a-dimensionality-reduction-method" target="_blank">Source Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1120&q=80"
                alt="img">
            <div class="card-content">
                <h3>Using Learning Curves to check for overfitting and underfitting conditions</h3>
                <p>This jupyter notebook shows how one can make use of learning curves in order to check if the data is overfitting or underfitting.</p>
                <button><a href="https://github.com/shivamshinde123/Using-learning-curve-to-check-whether-the-model-is-underfitting-or-overfitting" target="_blank">Source Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1487014679447-9f8336841d58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1305&q=80" alt="img">
            <div class="card-content">
                <h3>Taking care of overfitting using the early stopping method</h3>
                <p>This jupyter notebook demonstrates the use of early stopping method to deal with the problem of overfitting</p>
                <button><a href="https://github.com/shivamshinde123/Taking-care-of-overfitting-using-early-stopping-in-iterative-machine-learning-algorithms" target="_blank">Source Code</a></button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1519222970733-f546218fa6d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="img">
            <div class="card-content">
                <h3>Use of sklearn pipelines and custom thresholds</h3>
                <p>This jupyter notebook shows how one can make use of sklearn pipelines to avoid data leakage. Also it demonstrates the use of custom thresholds.</p>
                <button><a href="https://github.com/shivamshinde123/heart-disease-prediction-model-using-sklearn-pipelines-and-custom-threshold" target="_blank">Source Code</a></button>
            </div>
        </div>
    </div>
</div>





{% endblock %}