{% extends 'base.html' %}

{% block page_title %}Say Hi!{% endblock %}


{% block css_page_link %}

<link rel="stylesheet" href="static\sayhi.css">
{% endblock %}


{% block content %}

<div class="container">
    <div class="mini-container1">
        <h1>Let's Connect</h1>
        <p>I'd love to hear from you; whether you want to collaborate on a project, or simply just want to say hello.
        </p>
        <p>Get in touch with me at <a href="mailto:ShivamDattatrayShinde.com"
                target="_top">ShivamDattatrayShinde.com</a>.</p>
    </div>
</div>



{% endblock %}

{% block js_script %}


{% endblock %}